<div class="row">
        <div class="col-md-12">
            <qdt-component [Component]="viz4.type" [props]="viz4.props"></qdt-component>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <qdt-component [Component]="viz5.type" [props]="viz5.props"></qdt-component>
        </div>
    </div>  
  

  <div class="row">
    <div class="col-md-12">
        <qdt-component [Component]="viz1.type" [props]="viz1.props"></qdt-component>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <qdt-component [Component]="viz2.type" [props]="viz2.props"></qdt-component>
    </div>
</div>

<div class="row">
        <div class="col-md-12">
            <qdt-component [Component]="viz3.type" [props]="viz3.props"></qdt-component>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <qdt-component [Component]="viz6.type" [props]="viz6.props"></qdt-component>
            </div>
        </div>
        
    

     
